




a.active.nav-link{
	background-color: #FFDF08!important;
	}
	
.mercado-suite{
	background-color: #FFDF08;
}
.nav-item,
a.nav-link{
	background-color: white;
	color:#7244CB;
}

.input-group-text{
	background-color:#7244CB;
	color:white;
}
.comVen{
	background-color:#7244CB;
	color: white;
}